

.evalu-circle{
    width: 64px;
    height: 64px;
    border: 6px solid var(--ion-color-primary);
    border-radius: 50%;
}

.progress-bar{
    background-color: var(--ion-color-light) !important;
    height: 18px;
}

.progress-bar-level{
    background-color: var(--ion-color-primary) !important;
    height: 18px;
}

.question{
    min-height: 100px;
}

.rec-num-size{
    width: 64px;
}