:root {
  --font-size-title-1: 2rem;
  --font-size-title-2: 1.75rem;
  --font-size-title-3: 1.5rem;
  --font-size-subtitle-1: 0.875rem;
  --font-size-subtitle-2: 0.75rem;
  --font-size-body: 1rem;
  --secondary-color:"#ff5f00"
}

.title-1 {
  font-size: var(--font-size-title-1);
}
.title-2 {
  font-size: var(--font-size-title-2);
}
.title-3 {
  font-size: var(--font-size-title-3);
}

.text-14{
    font-size: var(--font-size-subtitle-1) !important;
}

.text-12{
    font-size: var(--font-size-subtitle-2) !important;
}

.text-primary {
  color: var(--ion-color-primary) !important;
}

.text-secondary {
  color: #ff5f00 !important;
}


.i-24{
    font-size: 24px;
}
/***   ionic css        ***/

ion-button {
  --box-shadow: none !important;
  height: 48px;
}
ion-button.secondary {
  --background: var(--ion-color-white);
  --background-hover: #9ce0be;
  --background-activated: #88f4be;
  --background-focused: #88f4be;

  --color: var(--ion-color-primary);

  --border-color: var(--ion-color-primary);
  --border-style: solid;
  --border-width: 1px;

  --box-shadow: 0 2px 6px 0 rgb(37, 6, 218, 0);

  --ripple-color: var(--ion-color-primary);
}

ion-input.custom-input {
  --background: var(--ion-color-light);
  /*--color: var(--ion-color-primary);*/
  /*--placeholder-color: #ddd;*/
  --placeholder-opacity: 0.5;
    height: 48px !important;
  --padding-bottom: 10px !important;
  --padding-end: 5px !important;
  --padding-start: 10px !important;
  --padding-top: 10px !important;
}

ion-input.custom-input:focus{
    border-color: var(--ion-color-primary);
}

ion-input.custom.ios .input-bottom .helper-text,
ion-input.custom.ios .input-bottom .counter,
ion-input.custom.md .input-bottom .helper-text,
ion-input.custom.md .input-bottom .counter {
  color: var(--ion-color-primary);
}

.input-fill-outline.input-shape-round {
    --border-color: var(--ion-color-light);
    --border-radius: 15px !important;
  }
ion-input > ion-button > button{
    background-color: black;
}

.bg-gray{
  background-color: #f6f6f6;
}

.bg-secondary{
  background-color: #cd5c08 !important;
}
.bg-secondary-light{
  background-color: #f9ebe0 !important;
}
.bg-primary-light{
  background-color: rgba(37, 7, 219, 0.1) !important;
}
.bg-gray{
  background-color: #f2f2f2!important;
}

.bg-success-light {
  background-color: #8FD14F !important;
}

.rect-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 144px;
  
  font-size: 28px;
}

.icon-circle{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.border-primary{
  border-color: var(--ion-color-primary);
}



/*****************/
.scrolling-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px;
  position: relative;
}

.scrolling-messages {
  display: inline-block;
  animation: scroll 30s linear infinite;
}

.scrolling-message {
  margin-right: 50px; /* Espacement entre les messages */
  font-size: 16px;
  color: #333;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scrolling-container:hover .scrolling-messages {
  animation-play-state: paused;
}

/********* Message animé **********/

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 1.5rem;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.zoom-text {
    font-size: 18px;
    text-align: center;
    animation: zoom 3s infinite alternate;
  }

  @keyframes zoom {
    0% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1.2);
    }
  }

  /********** Fin Message animé ************/